:root {
  --height: 35vw;
  --reporter-width: 20vw;
  --players-font-size: calc(4px + 1.5vw);
  --links-font-size: 1vw;
  --pot-font-size: calc(8px + 2.5vw);
  --reporter-font-size: 1.5vw;
  --red-suit: rgba(125, 2, 44, 1);
  --black-suit: rgba(31, 31, 31, 1);
  --off-white: rgb(254, 253, 251);
  --darker-black: rgb(10, 10, 10);
  --lighter-red: rgb(226, 61, 40);
  --table-green: rgb(34, 139, 34);
  --lighter-green: rgb(48, 197, 48);
  --hover-grey: rgb(189, 189, 189);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(2, 3, 29);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name-frame {
  padding: 20px 20px 20px 20px;
  /* background-color: rgba(125, 2, 2, 1); */
}

.hollow-button {
  font-size: var(--links-font-size);
  color: var(--off-white);
  font-weight: 500;
  background-color: transparent;
  padding: 10px;
  border: 3px solid var(--off-white);
  margin: 0.5vw 0.5vw 0.5vw 0.5vw;
  border-radius:  5px;
}

.solid-button {
  color: var(--red-suit);
  font-weight: 500;
  background-color: var(--off-white);
  padding: 10px;
  border: 3px solid var(--red-suit);
  border-radius:  5px;
  margin: 0.5vw 0.5vw 0.5vw 0.5vw;
  width: calc(25px + 3vw);
  height: 2.5vw;
  font-size: calc(3px + 0.7vw);
}

.solid-button-no-dims {
  color: var(--red-suit);
  font-weight: 500;
  background-color: var(--off-white);
  padding: 10px;
  border: 3px solid var(--red-suit);
  border-radius:  5px;
  margin: 0.5vw 0.5vw 0.5vw 0.5vw;
  font-size: 1vw;
}

.solid-button:hover, .solid-button-no-dims:hover {
  color: var(--lighter-red);
  border-color: var(--lighter-red);
}

.logo-grid {
  position: absolute;
  grid-template-columns: 47vw;
  grid-template-rows: 43vh;
  left: 3%;
}

.logo-image {
  background-image: url("../public/Logo\ For\ Dark\ Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  background-color: transparent;
  height: 43vh;
  width: 47vw;
}

.logo-div {
  background-color: var(--red-suit);
  height: 42vh;
  width: 47vw;
  border-radius: 10px;
}

.relocate-grid {
  position: absolute;
  display: inline-grid;
  grid-template-columns: 46vw;
  grid-template-rows: 21.5vh 21.5vh 21.5vh 21.5vh;
  left: 51%;
}

.relocate-button {
  color: var(--off-white);
  background-color: transparent;
  font-size: var(--players-font-size);
  border: 6px solid var(--off-white);
  height: 20vh;
  width: 47vw;
  border-radius: 10px;
}

.settings-button {
  background-image: url("../public/Cog\ no\ background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.guide-button {
  background-image: url("../public/Info\ No\ Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.solo-button {
  background-image: url("../public/Solo\ No\ Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.multiplayer-button {
  background-image: url("../public/People\ No\ Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-register-button {
  background-image: url("../public/Save\ No\ Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hollow-button:hover, .relocate-button:hover {
  color: var(--hover-grey);
  border-color: var(--hover-grey);
}

h1 {
  color: var(--black-suit);
  font-weight: 500;
  font-size: var(--players-font-size);
  margin: 0px;
}

.nav-bar {
  padding: 15px;
  border: 2px solid var(--black-suit);
  margin-bottom: 0.25vw;
  display: flex;
  background-color: var(--red-suit);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  font-size: var(--players-font-size);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--off-white);
  margin: 0 10vw 0 10vw;
  background-color: transparent;
  border-color: transparent;
}

.intro-label {
  display: inline-block;
  color: var(--off-white);
  width: 45vw;
  font-size: calc((1vh + 1.5vw)/2);
}

.links {
  font-size: var(--links-font-size);
  color: var(--off-white);
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
}

#login {
  float: right;
}

.links:hover, .title:hover, .login {
  color: var(--hover-grey);
}

#card-face {
  position: relative;
  display: inline-block;
  height: 7.5vw;
  width: 4.5vw;
  min-height: 80px;
  min-width: 48px;
  background-color: var(--off-white);
  text-align: center;
  font-size: calc(20px + 2.2vw);
  border-radius: 0.25vw;
  border: 2px solid var(--black-suit);
  margin-left: 0.25vw;
  margin-right: 0.25vw
}

#card-face > * {
  position: absolute;
  font-size: calc(15px + 0.5vw);
  padding: 5px;
  float: left;
}

#table {
  position: relative;
  display:inline-block;
  height: var(--height);
  width:var(--height);
  min-width: 300px;
  min-height: 300px;
  background-color: var(--table-green);
  border: 10px solid var(--darker-black);
  border-radius: 10px;
  justify-content: center;
  text-align: left;
  vertical-align: top;
}

#table > #hole-card-one {
  position: absolute;
  bottom: 0;
  left: 50%;
}

#table > #hole-card-two {
  position: absolute;
  bottom: 0;
  left: calc(50% + 5.5vw);
}

#table > .communal-cards {
  justify-content: center;
  float: right;
}

#table > .player-stats {
  justify-content: center;
  display: inline-block;
  text-align: left;
}

#table > .glow {
  text-shadow: 0px 0px 10px whitesmoke, 0px 0px 10px whitesmoke;
}

#table > .winner-glow {
  text-shadow: 0px 0px 10px gold, 0px 0px 10px gold;
}

#table > #pot {
  position: absolute;
  bottom: 50%;
  left: 55%;
  display: inline-block;
  font-size: var(--pot-font-size);
}

#table > #decision-buttons {
  display: grid;
  grid-template-columns: calc(25px + 4vw) calc(25px + 4vw);
  grid-template-rows: calc(25px + 2vw) calc(25px + 2vw);
  width: calc(25px + 3vw);
  height: 2.5vw;
}

#play-reporter {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: var(--height);
  width: var(--reporter-width);
  min-height: 300px;
  border: 10px solid var(--red-suit);
  border-radius: 10px;
  justify-content: center;
  text-align: left;
  overflow-y: auto;
}

#play-reporter > #play-text {
  color: var(--off-white);
  font-weight: 500;
  font-size: var(--reporter-font-size);
  margin: 0px;
}

#warning-reporter {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: var(--height);
  width: var(--reporter-width);
  min-height: 300px;
  background-color: var(--darker-black);
  border: 10px solid var(--red-suit);
  border-radius: 10px;
  justify-content: center;
  text-align: left;
  overflow-y: auto;
  z-index: 999;
}

#warning-reporter > #warning-text {
  /* color: rgb(255, 60, 0); */
  color: rgb(255, 175, 84);
  font-weight: 500;
  font-size: var(--reporter-font-size);
  margin: 0px;
}

.lesson-grid {
  display: inline-grid;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-template-rows: 15vw;
  margin-bottom: 5vw;
  margin-top: 2vw;
}

#info-box {
  background-color: #000144e1;
  border-color: var(--black-suit);
  border-radius: 10px;
  z-index: 1000;
  top: 10vw;
  left: 32.5vw;
  position: absolute;
  height: 20vw;
  width: 35vw;
  min-width: 250px;
  min-height: 145px;
  justify-content: center;
  vertical-align: center;
  padding: 5px;
}

.slider {
  width: 20vw;
  max-width: 250px;
  margin: auto;
  margin-top: 1vw;
}

.sub-slider {
  width: 20vw;
  max-width: 250px;
  margin: auto;
}

.slider-track {
  top: 6px;
  height: 8px;
  background: grey;
  border-radius: 25px;
  border: 3px solid var(--black-suit);
}

.slider-track.slider-track-0 {
  background: var(--red-suit);
  border-radius: 25px; 
}

.sub-slider-track {
  top: 6px;
  height: 8px;
  background: grey;
  border-radius: 25px;
  border: 3px solid var(--black-suit);
}

.sub-slider-track.sub-slider-track-0 {
  background: var(--off-white);
  border-radius: 25px; 
}

.slider-thumb {
  cursor: pointer;
  background: var(--off-white);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--black-suit);
}

.dividing-line {
  display: inline-block;
  height: 1px;
  width: 70vw;
  background-color: rgba(255,255,255, 0.5);
  margin-top: 20px;
}

.complete-lesson {
  color: var(--table-green);
  border-color: var(--table-green);
}

.complete-lesson:hover {
  color: var(--lighter-green);
  border-color: var(--lighter-green);
}

.retrace-button {
  display: inline-block;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 100%;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 1vw;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 105%;
}

.tooltip .tooltip-text-left {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 0%;
  right: 105%;
}

.tooltip .tooltip-text-top {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}

.tooltip:hover .tooltip-text, .tooltip:hover .tooltip-text-left, .tooltip:hover .tooltip-text-top {
  visibility: visible;
}
